<h1>Your Posts!!!</h1>

<% @posts.each do |post| %>
<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Author</th>
  </tr>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.body %></td>
    <td><%= post.author %></td>
    <td><%= link_to 'Show', post_path(post) %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Delete', post_path(post),
                    method: :delete,
                    data: { confirm: 'Are you sure?'} %></td>
  </tr>
  <% end %>
</table>
